@media screen and (max-width: 414px) {
  .top-half-wrap {
    background-size: cover;
    background-position-y: -100px;
  }
  .in-mobile-menu {
    display: none;
  }
  .menu-icon-li {
    display: block;
    padding-right: 5px;
  }
  .home-h1 {
    top: 60%;
  }
  .typewriter-words-dash {
    margin-left: 20px;
  }
}

@media screen and (min-width: 415px) {
  .menu-icon-li {
    display: none;
  }
}

@media screen and (min-width: 620px) {
  body {
    min-height: 615px;
  }
  .home-header {
    min-height: 150px;
    height: 100%;
    font-size: 150%;
  }
  .home-h1, .js-typewriter-words {
    display: inline;
  }
  .nav-list > .nav-li:not(.home-li) {
    padding-left: 30px;
  }
}

@media screen and (min-width: 960px) {
  .home-header {
    font-size: 200%;
  }
}

@media screen and (min-width: 1260px) {
  .home-header {
    font-size: 250%;
  }
  .home-h1 {
    top: 48%;
  }
}