.slides-wrap, .slides{
  height: 100%;
}

.slides {
  background-size: cover;
  background-position: left;
}

.slide-controls {
  width: fit-content;
  position: relative;
  bottom: 75px;
}

.slide-title {
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  border-bottom: 1px solid #fe0000;
}

.slide-arrow {
  display: inline-block;
  width: 25px;
  margin: auto;
}

#left-slide-arrow {
  margin-left: 6px;
}

#right-slide-arrow {
  transform: rotate(180deg);
}