html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #dedede;
  overflow: hidden;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  background: #000000;
}

.navigation {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 45px;
  left: 0;
  background: #000000;
}

.nav-list {
  margin-top: 5px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  list-style: none;
}

.nav-li {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  border-left: 1px solid #ffffff;
}

.nav-li:first-child {
  border-left: none;
}

.home-li {
  margin-right: auto;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #ffffff;
  /* color: #dbff4e; */
}

.nav-home-logo {
  width: 40px;
  position: absolute;
  top: 5px;
  border-radius: 50px;
}

.top-half-wrap, .bottom-half-wrap {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: #333333; 
}

.top-half-wrap {
  height: 55%;
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-position-y: -100px;
  background-image: url(./images/dallas-skyline-night1.png); */
}

.opaque-background1, .opaque-background2 {
  width: 100%;
  height: 100%;
  background-color: #0000008a;
}

.bottom-half-wrap {
  height: 45%;
  background: url("./images/dark-triangles.png");
}

.home-header {
  height: 100%;
  padding-left: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Abel', sans-serif;
}

.home-h1 {
  font-weight: 100;
}

.home-h1, .js-typewriter-words, .typewriter-words-dash {
  display: inline-block;
}

.js-typewriter-words {
  border-bottom: 2px solid #fe0000;
}

/* .typewriter-words-dash {
  margin-left: 50px;
} */

/* .home-background-image {
  height: 100%;
} */

/* For menu icon */
.menu-icon-line {
  width: 18px;
  height: 3px;
  background: #ffffff;
  margin-top: 2px;
  margin-bottom: 2px;
}

.home-footer {
  width: 175px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #dfdfdf;
  font-size: 12px;
}

.social-media-div {
  width: 320px;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

.social-media-logo.youtube {
  width: 31px;
}

.social-media-logo.soundcloud {
  width: 28px;
}

.social-media-logo.newgrounds {
  width: 24px;
  border-radius: 5px;
}
